

<div class = login>
<form id= "login-form" class=".login" method="post" action="/sessions">
<h1>Log in</h1>
  <div class="field">
    <label for="user_email">Email</label>
    <input type="text" name="email" id="user_email" />
  </div>
  <div class="field">
    <label for="user_password">Password</label>
    <input type="password" name="password" id="user_password" />
  </div>
  <div class="field">
    <input class="btn btn-primary btn-block btn-large" type="submit" value="log in" />
  </div>
</form>
</div>
<div class="user_profile"></div>
