<!-- registration form -->
<% if @errors %>
<%=@errors  %>
<% end %>
<div class ="form">
<form class="sub_form" method="post" action="/users">
<h1>Create a new user</h1>
  <div class="field">
    <label for="user_name">Name</label>
    <input type="text" name="user[name]" id="name" />
  </div>
  <div class="field">
    <label for="user_email">Email</label>
    <input type="text" name="user[email]" id="email" />
  </div>
  <div class="field">
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="password" />
  </div>

  <div class="field">
    <input class="btn btn-primary btn-block btn-large" type="submit" value="Create New User"/>
  </div>
</form>
</div>

