<div class =form>
<form class="sub_form" method="post" action="/transactions">

  <div class="field">
    <label for="balance">Balance</label>
    <input type="text" name="account[balance]" id="balance"
    placeholder="0" />
  </div>

  <div class="field">
    <label for="debt_bal">Debt bal</label>
    <input type="text" name="account[debt_bal]" id="balance" placeholder="0" />
  </div>

  <div class="field">
    <label for="lend_bal">Amount</label>
    <input type="text" name="account[lend_bal]" id="balance"
    placeholder="0" />
  </div>

  <div class="field">
    <input class="btn btn-primary btn-block btn-large" type="submit" value="Create Account"/>
  </div>
  </form>
</div>
