<!-- <h1 class="new"> WELCOME TO LEND ZER0</h1><br> -->
<!-- <a href="users/new">Register</a> -->
<div>
<h1> Change the world help with LEND ZERO </h1>
<% @messages.each do |message| %>
<br>
<%= message.title %>
<br>
<%= message.text %>
<br>
<%= message.amount %>
<br>
 <% if message.user_id == current_user.id %>
 <a href="/users/<%=@user.id%>/messages/new ">EDIT</a>
<% end %>

</div>
