<h1 class="new"> WELCOME TO LEND ZER0</h1><br>
<!-- <a href="users/new">Register</a> -->
<div class="new">
<h1> This are all other users associated with LEND ZERO </h1>
<% @users.each do |user| %>
<br> <%= user.name  %>
<br>
<% end %>
</div>
